[submodule "third_party/msgpack-c"]
	path = third_party/msgpack-c
	url = https://github.com/msgpack/msgpack-c.git
[submodule "tests/gtest-driver/third_party/googletest"]
	path = tests/gtest-driver/third_party/googletest
	url = https://github.com/google/googletest.git
